/*Agregar los colores como variables para que sea más fácil cambiarlo si más adelante se necesita*/
:root {
  --gray1: rgba(0, 0, 0, 0.5);
  --gray2: rgba(119, 119, 119, 0.05);
}

html {
  scroll-behavior: smooth;
}

#header img {
  width: 120px;
}

#bienvenida {
  position: relative;
}

#header .container li a:hover {
  margin-top: 3px;
  text-decoration: underline;
}

#bienvenida .carousel-inner img {
  max-height: 85vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gray1);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#carousel #text .container-fluid {
  filter: grayscale(70%);
  background-color: var(--gray1);
  padding: 10px 10px 10px 10px;
  color: white;
}

#projects .row .card-image {
  display: flex;
  justify-content: center;
}

#projects .row .card img {
  max-height: 200px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

#projects a {
  color: rgb(117, 115, 115);
}

#projects a:hover {
  color: black;
  text-decoration: none;
}

#projects .row .card {
  height: 100%;
  margin-top: 15px;
}

#projects {
  background-color: var(--gray2);
  height: 100%;
}

#projects .container p {
  font-family: "Ubuntu Condensed", sans-serif;
}

#contacto {
  background-color: var(--gray2);
  height: 100%;
}

#contacto .container p {
  font-family: "Ubuntu Condensed", sans-serif;
}

.icono {
  width: 30px;
  height: 30px;
}

.listText {
  font-size: calc((1vw + 1vh) * 0.9);
}
